ReaderTests/bin/
ReaderTests/obj/
PreludeTests/bin/
PreludeTests/obj/
JigTests/bin/
JigTests/obj/
Reader/bin/
VM/bin/
VM/obj/
VMRepl/bin/
VMRepl/obj/
Reader/obj/
Types/bin/
Types/obj/
obj/
.cache/
Jig/bin/
Jig/obj/
Tests.VM/bin/
Tests.VM/obj/
Tests.DLRRuntime/bin/
Tests.DLRRuntime/obj/
Tests.Common/bin/
Tests.Common/obj/
repl
*nettrace*
*.log
*/*.log
Jig.sln.DotSettings.user
notes.scm
scheme-tests.chez



.vscode/
.idea/

.fake
