ReaderTests/bin/
ReaderTests/obj/
PreludeTests/bin/
PreludeTests/obj/
Reader/bin/
VM/bin/
VM/obj/
VMRepl/bin/
VMRepl/obj/
Reader/obj/
Types/bin/
Types/obj/
obj/
.cache/
Jig/bin/
Jig/obj/
JigTests/obj/
JigTests/bin/
repl
*nettrace*

.vscode/
.idea/

.fake
